.addExpense{
    background: url("./bgimg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.addExpense__inner{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    min-height: calc(100vh - 4rem) !important;
    display: flex;
}
.addExpense__errorMessage{
    color: red;
    font-weight: 600;
    margin: 0px;
}
.addExpense__form{
    border:none;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10rem;
    height: 35rem;
    padding: 2rem 4rem;
    width: 27rem;
    margin: auto;
}
.addExpense__formInput{
    width: 100%;
    outline: 0;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 3px;
    border: 1px solid #dae0e5 !important;
    height: calc(2.55rem + 2px);
    background-color: #fff;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    margin-bottom: 0;
}
.addExpense__formLabel{
    font-size: 1.3rem;
    margin:5px 0px;
}
.addExpense__formSubmitButton{
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    width: auto;
    padding: 15px 39px;
    margin-top: 25px;
    cursor: pointer;
}
.addExpense__form-group{
    position: relative;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:786px) {
    .addExpense__form{
      width: 15rem;
    }
}